[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "immunogenetr"]
	path = immunogenetr
	url = https://github.com/k96nb01/immunogenetr_package
